<div class="container">
  <div class="row">
    <!--ジャンルリストの部分テンプレート-->
    <%= render "bygenre", genres: @genres %>

    <div class="col-md-9 mx-auto">
      <h3 class="my-5 text-center">ゲーム一覧</h3>
      <!--ソート機能-->
      <p>
        <%= link_to '新しい順', games_path(latest: "true") %>
        |<%= link_to '古い順', games_path(old: "true") %>
        |<%= link_to '評価の高い順', games_path(star_coutn: "true") %>
      </p>
      <% @games.each do |game| %>
        <div class="card-group">
          <div class="card" style="width: 20rem;">
            <div class="card-body">
              <h5 class="card-title"><%= game.name %></h5>
              <p class="card-text"><%= game.explanation %></p>
              <div class="d-inline"><%= link_to "詳細へ", game_path(game.id) %></div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>