<div class="container">
  <div class="row">

    <!--ジャンルリストの部分テンプレート-->
    <%= render "bygenre", genres: @genres %>
    <div class="col-md-8 mx-auto">
      <!--フラッシュメッセージ-->
      <%= render "layouts/flash" %>

      <h2 class="mt-5 text-center"><%= @game.name %></h2>
      <div class="text-center"><%= image_tag @game.image, class: "game_image" %></div>

      <div class="mt-5 text-center">
        <h5>ジャンル：<%= @game.genre.name %></h5>
        <p><%= @game.explanation %></p>
        <div id="average_star_<%= @game.id %>"></div>
        <p>レビュー<%= @game.reviews.count %>件</p>
        <script>
          $(document).on('turbolinks:load', function() {
            let elem = document.querySelector('#average_star_<%= @game.id%>');
            if (elem == null) return;

            elem.innerHTML = ""
            let opt = {
              starOn: "<%= asset_path('star-on.png') %>",
              starOff: "<%= asset_path('star-off.png') %>",
              starHalf: "<%= asset_path('star-half.png') %>",
              half: true,
              readOnly: true,
              score: <%= @game.reviews.average(:star).to_f.round(1) %>,
               //↑ 平均点を算出し、round関数で切り上げる
            };
            raty(elem, opt);
          });
        </script>
      </div>

      <div class="col-md-8 mx-auto mt-5 text-center">
        <%= form_with model: [@game, @review] do |f| %>
          <div class="form-group">
            <%= f.label :title, "レビュータイトル" %>
            <%= f.text_field :title, placeholder: "タイトル" %>
          </div>
          <div class="form-group">
            <%= f.label :comment, "レビューコメント" %>
            <%= f.text_area :comment, rows: '3',placeholder: "コメント" %><br>
          </div>
          <% if @review.id.nil? %>
            <div class="form-group" id="star">
              <%= f.label :star, "評価" %>
              <%= f.hidden_field :star, id: :review_star, class: 'form-control' %>
              <span id="post_raty"></span>
            </div>
            <script>
              $(document).on('turbolinks:load', function() {
                let elem = document.querySelector('#post_raty');
                if (elem == null) return;

                elem.innerHTML = ""
                let opt = {
                  starOn: "<%= asset_path('star-on.png') %>",
                  starOff: "<%= asset_path('star-off.png') %>",
                  starHalf: "<%= asset_path('star-half.png') %>",
                  scoreName: 'review[star]',
                };
                raty(elem, opt);
              });
            </script>
          <% end %>
          <div class="form-group">
            <%= f.submit "送信する", class: 'btn btn-primary' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mx-auto">
      <h4 class="p-3 border-bottom border-primary border-3">コメント一覧</h4>
      <table class="table table-borderless">
        <thead>
          <tr>
            <th>投稿者名</th>
            <th>レビュータイトル</th>
            <th>レビューコメント</th>
            <th>評価</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @game.reviews.each do |review| %>
          <tr>
            <div class="mt-5 text-center">
              <td><%= review.user.name %></td>
              <td><%= review.title %></td>
              <td><%= review.comment %></td>
              <td>
                <div id="star-rate<%= review.id %>"></div>
                <script>
                    $(document).on('turbolinks:load', function() {
                      let elem = document.querySelector('#star-rate<%= review.id %>');
                      if (elem == null) return;

                      elem.innerHTML = ""
                      let opt = {
                        starOn: "<%= asset_path('star-on.png') %>",
                        starOff: "<%= asset_path('star-off.png') %>",
                        starHalf: "<%= asset_path('star-half.png') %>",
                        score: <%= review.star %>,
                        readOnly: true
                      };
                      raty(elem, opt);
                    });
                  </script>
                </td>
                <% if review.user == current_user %>
                  <td>
                    <%= link_to "編集する", edit_game_review_path(review.game, review), class:"btn btn-success" %>
                  </td>
                  <td>
                    <%= link_to game_review_path(review.game, review), method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } do %>
                      <button class="btn btn-danger">削除する</button>
                    <% end %>
                  </td>
                <% end %>
            </div>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
