<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <div class="mt-5 text-center">
        <p><%= @game.name %></p>
        <%= @game.explanation %>
      </div>

      <div class="mt-5 text-center">
        <%= form_with model: [@game, @review] do |f| %>
          <%= f.label :comment, "レビューコメント" %><br>
          <%= f.text_area :comment, rows: '3',placeholder: "コメント" %><br>
          <%= f.submit "送信", class: 'btn btn-primary' %>
        <% end %>
      </div>

      <% @game.reviews.each do |comment| %>
        <div class="mt-5 text-center">
          <p><%= comment.user.name %></p>
          <%= comment.comment %>
          <% if comment.user == current_user %>
            <%= link_to "削除", game_review_path(comment.game, comment), method: :delete %>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
