<div class="container">
  <div class="row">
    <div class="col mx-auto">
      <h2 class="mt-5">検索結果</h2>

      <table class="table table-hover">
        <thead>
          <tr>
            <th class="col-md-2">タイトル</th>
            <th class="col-md-6">概要</th>
            <th>評価</th>
            <th>レビュー</th>
          </tr>
        </thead>
        <tbody>
          <% @games.each do |game| %>
            <tr>
              <td>
                <%= link_to game_path(game) do %>
                  <%= game.name %>
                <% end %>
              </td>
              <td><%= game.explanation %></td>
              <td>
                <span id="average_star_<%= game.id %>"></span>
                <script>
                  $(document).on('turbolinks:load', function() {
                    let elem = document.querySelector('#average_star_<%= game.id%>');
                    if (elem == null) return;

                    elem.innerHTML = ""
                    let opt = {
                      starOn: "<%= asset_path('star-on.png') %>",
                      starOff: "<%= asset_path('star-off.png') %>",
                      starHalf: "<%= asset_path('star-half.png') %>",
                      half: true,
                      readOnly: true,
                      score: <%= game.reviews.average(:star).to_f.round(1) %>,
                       //↑ 平均点を算出し、round関数で切り上げる
                    };
                    raty(elem, opt);
                  });
                </script>
              </td>
              <td>レビュー件数：<%= game.reviews.count %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>

