登録ゲーム一覧
<%= form_with url: admin_games_path, model: @game do |f| %>
  <h4>
    <%= f.text_field :name %>
  </h4>
  <h4>
    <%= f.text_field :explanation %>
  </h4>
  <%= f.submit '登録' %>
<% end %>

<% @games.each do |game| %>
  <%= game.name %>
  <%= game.explanation %>
<% end %>

<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>