<div class="container">
  <div class="row">
    <div class="col text-center mx-auto">
      <h3 class="mt-5">ジャンル一覧・追加</h3>
      <% if @genre.errors.any? %>
        <%= @genre.errors.count %>件のエラーが発生しました
        <ul>
          <% @genre.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      <% end %>
      <!--ジャンルの新規登録-->
      <%= form_with url: admin_genres_path, model: @genre do |f| %>

        <%= f.label :name, "ジャンル名" %>
        <%= f.text_field :name %>

        <%= f.submit "登録", class:"btn btn-success" %>
      <% end %>
    </div>
  </div>

    <!--ジャンル一覧の表示-->
  <div class="row">
    <% @genres.each do |genre| %>
      <ul>
        <li>
          <%= genre.name %>
        </li>
      </ul>
    <% end %>
  </div>
</div>
