<div class="container">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <h4 class="mt-5 text-center">レビュー編集ページ</h4>

      <%= form_with model: [@game, @review] do |f| %>
        <table class="table table-inverse table-borderless text-center">
          <tr>
            <th><%= f.label :title, "レビュータイトル" %></th>
            <td><%= f.text_field :title, placeholder: "タイトル" %></td>
          </tr>
          <tr>
            <th><%= f.label :comment, "レビューコメント" %></th>
            <td><%= f.text_area :comment, rows: '3',placeholder: "コメント" %></td>
          </tr>
          <tr>
            <th></th>
            <td>
              <div class="form-group" id="star">
                <%= f.label :star, "評価" %>
                <span id="star-rate"></span>
              </div>
              <script>
                $(document).on('turbolinks:load', function() {
                  let elem = document.querySelector('#star-rate');
                  if (elem == null) return;

                  elem.innerHTML = ""
                  let opt = {
                    starOn: "<%= asset_path('star-on.png') %>",
                    starOff: "<%= asset_path('star-off.png') %>",
                    starHalf: "<%= asset_path('star-half.png') %>",
                    scoreName: "review[star]",
                    score: <%= @review.star %>
                  };
                  raty(elem, opt);
                });
              </script>
            </td>
          </tr>
          <tr>
            <td class="text-center" colspan="2"><%= f.submit "更新する", class: 'btn btn-success' %></td>
          </tr>
        </table>
      <% end %>
    </div>
  </div>
</div>