<!DOCTYPE html>
<html>
  <head>
    <title>My_Game</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/a0900e118f.js" crossorigin="anonymous"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="d-flex flex-column vh-100">
    <header class="shadow-sm">
      <nav class="navbar navbar-expand-lg navbar-dark bg-info">
        <div class="container">
          <a class="navbar-brand p-3 text-dark" href="/">
            <i class="fas fa-home"></i>
            MyGame
          </a>
          <%= render "public/searches/search" %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if user_signed_in? %>
                <li class="nav-item">
                  <%= link_to about_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-circle-exclamation"></i>概要
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to  user_path(current_user.id), class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-user"></i>マイページ
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to games_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-gamepad"></i>ゲーム一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket"></i>ログアウト
                  <% end %>
                </li>
              <% elsif admin_signed_in? %>
                <li class="nav-item">
                  <%= link_to about_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-circle-exclamation"></i>概要
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_users_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-user"></i>ユーザー一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_genres_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-gamepad"></i>ジャンル一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to admin_games_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-gamepad"></i>ゲーム一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to destroy_admin_session_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-from-bracket"></i>ログアウト
                  <% end %>
                </li>
              <% else %>
                <li class="nav-item">
                  <%= link_to about_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-circle-exclamation"></i>概要
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to games_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-gamepad"></i>ゲーム一覧
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_registration_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-user-plus"></i>新規登録
                  <% end %>
                </li>
                <li class="nav-item">
                  <%= link_to new_user_session_path, class: 'nav-link text-dark' do %>
                    <i class="fa-solid fa-right-to-bracket"></i>ログイン
                  <% end %>
                </li>
                <li>
                  <%= link_to users_guest_sign_in_path, class: "nav-link text-dark", method: :post do %>
                    <i class="fa-solid fa-right-to-bracket"></i>ゲストログイン
                  <% end %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>

    <main class="mb-auto">
      <%= render "layouts/flash" %>
      <div class="main-container">
        <%= yield %>
      </div>
    </main>

    <footer class="bg-info text-white pt-5 pb-4">
      <div class="container">
        <div class="row no-gutters">
          <div class="col-md-8 mx-auto">
            <h6 class="text-dark text-center mt-2 mb-3">©My Game</h6>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
